
@{
    ViewData["Title"] = "Create";
}
<h2>@ViewData["Title"]</h2>

<h4>Seller</h4>
<hr/>
<div class="row">
    <div class="col-md-4">
         <form asp-action="Create">
             <div class="form-group">
                 <label asp-for="Name"
             </div>
         </form>
    </div>
</div>
